*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.TabbarItem--selected {
  color: #ff5c00 !important;
}
.TabbarItem__icon {
  transform: scale(1.5) !important;
}

.TabbarItem__text {
  display: none !important;
}

.TabbarItem--selected {
  color: #ff5c00 !important;
}
.TabbarItem--selected .TabbarItem__icon {
    transform: scale(1) !important;
}

.TabbarItem--selected .TabbarItem__text {
    display: block !important;
}

.PanelHeader__separator {
  display: none;
}